@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  input {
    border: grey solid 1px;
    padding: 6px;
  }
  button {
    width: max-content;
    padding: 2px 7px 2px 7px;
    border: black solid 1px;
    border-radius: 5px;
  }
  button:hover {
    outline: none;
    background-color: black;
    color: white;
    border: darkgrey solid 1px;
  }
}

html {
  color: darkgrey;
}
